#leadership
  .container
    padding-top: 3%
    padding-left: 7%
    padding-right: 7%
    padding-bottom: 3%
    h2.title
      font-size: 50px
    h3.subtitle
      margin-top: 2%
      margin-bottom: 6%
    .columns
      .column
        max-width: 277.72px
        margin: auto !important
        .card-content
          .media.media-content
            .title.is-4
              width: fit-content !important
              margin-right: 5% !important
            .fa-linkedin:hover
              color: blue
