#leadership
  .container
    .columns
      margin-top: 1.5rem
      .column
        max-width: 277.72px
        margin: auto !important
        .card
          transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), transform 0.5s ease
          box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23)
          border-radius: 5px
          background-color: $grey-dark
          .card-content
            padding: 1rem !important
            .media.media-content
              .title.is-4
                color: black !important
                width: fit-content !important
                margin-right: 5% !important
          .card-image
            .image
              img
                border-top-left-radius: 5px !important
                border-top-right-radius: 5px !important
