#calendar
  min-height: 700px !important
  display: inline-flex !important
  justify-content: center !important
  flex-direction: column !important
  width: 100% !important
  .container
    max-width: 1250px
    margin: 0 auto
    padding: 100px 0px 0px 0px
    h2.title
      font-size: 50px !important
    h3.subtitle
      margin-top: 1%
      margin-bottom: 5%
    .is-flex
      height: 100%
      width: 100% !important
      justify-content: center !important
      &.mobile
        min-height: 40vh
        flex-direction: column
      &.desktop
        min-height: 70vh
      iframe
        box-shadow: 0px 2px 4px rgba(0,0,0,0.7)
