.modal
  .modal-card
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    min-height: 600px !important
    height: 75%
    border-radius: 0px !important
    .modal-card-head
      border-radius: 0px !important
    .modal-card-body
      padding-top: 35px
      border-radius: 0px !important
    .container
      width: 100%
      margin-top: 50px
      margin-bottom: 25px
      justify-content: center
      .button:hover
        border-color: white !important
