// .hero
//
// div.hero#aboutus
//   display: flex
//   flex: 1
//   justify-content: center
//   align-items: center
//     p.hero-body.container
//       p
//         margin-bottom: 2em
//           h2.title.has-text-centered
//             font-size: 50px

#aboutus
  .container
    font-size: 1.15rem
    div.content
      margin-left: 15%
      margin-right: 8%
