#aboutus
  .container
    font-size: 1.15rem
    max-width: 750px
    margin: 0 auto
    padding: 100px 0px 0px 0px
    h2.title
      font-size: 50px !important
    h3.subtitle
      margin-top: 1%
      margin-bottom: 5%
    div.content
      margin-left: 6%
      margin-right: 1%
