#aboutus,
#leadership {
  background: linear-gradient(
      180deg,
      rgba(239, 240, 220, 0) 20%,
      rgba(239, 240, 220, 0.1) 20%,
      rgba(239, 240, 220, 0.1) 40%,
      rgba(239, 240, 220, 0.2) 40%,
      rgba(239, 240, 220, 0.2) 60%,
      rgba(239, 240, 220, 0.4) 60%,
      rgba(239, 240, 220, 0.4) 80%,
      rgba(239, 240, 220, 0.5) 80%
    ),
    linear-gradient(
      45deg,
      rgba(239, 255, 245, 0.7) 20%,
      rgba(239, 255, 245, 0.6) 20%,
      rgba(239, 255, 245, 0.6) 40%,
      rgba(239, 255, 245, 0.5) 40%,
      rgba(239, 255, 245, 0.5) 60%,
      rgba(239, 255, 245, 0.6) 60%,
      rgba(239, 255, 245, 0.6) 80%,
      rgba(239, 255, 245, 0.7) 80%
    ),
    linear-gradient(
      -45deg,
      rgba(186, 100, 145, 0.6) 20%,
      rgba(186, 100, 145, 0.4) 20%,
      rgba(186, 100, 145, 0.4) 40%,
      rgba(186, 100, 145, 0.2) 40%,
      rgba(186, 100, 145, 0.2) 60%,
      rgba(186, 100, 145, 0.4) 60%,
      rgba(186, 100, 145, 0.4) 80%,
      rgba(186, 100, 145, 0.6) 80%
    );
  background-size: 100% 100%;
  min-height: 100%;
}
