div.container#about-us
    display: flex
    flex: 1
    justifyContent: center
    alignItems: center
    flex-direction: column
    min-height: 100vh
    min-width: 100vw
    background-color: black
  


